.Navbar {
    background-color: transparent;
    border: 0.1px solid;
    border-image: linear-gradient(270.64deg, rgba(255, 255, 255, 0.5) 8.27%, rgba(60, 60, 60, 0.5) 108.41%) 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    padding: 10px 1px;   
    margin: 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    cursor: pointer;
}

.active {
    color: #FFD700;
}

.ant-menu {
    background: radial-gradient(50% 50% at 50% 50%, #873D3D 0%, #282323 100%);
    /* Màu nền mới */
}

.ant-menu-item {
    color: white !important;
    /* Màu chữ */
}

.ant-menu-item:hover {
    color: #03439c !important;
    /* Màu chữ khi hover (tùy chỉnh nếu cần) */
}

.ant-menu-item-selected {
    
    /* Màu nền khi được chọn */
    color: #FFD700 !important;
    /* Màu chữ khi được chọn */
    font-weight: bold;
    background: linear-gradient(90deg, #F5D982 0%, #EBD07D 9.8%, #C5AF6B 20.8%, #CAB36D 24.8%, #D3BB70 33.3%, #E7C96D 38.3%, #C4AE68 47.8%, #CFB86E 66.8%, #B79B45 79.3%, #B89D48 87.8%, #8F7F4C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}