ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
 
    color: white;
    text-align: center;
    padding: 10px 1px;   
    text-decoration: none;
}

li a:hover:not(.active) {
    cursor: pointer;
}

.active {
    color: #FFD700;
}

.ant-menu {
    background: radial-gradient(50% 50% at 50% 50%, #873D3D 0%, #282323 100%);
    /* Màu nền mới */
}

.ant-menu-item {
    color: white !important;
    /* Màu chữ */
}

.ant-menu-item:hover {
    color: #03439c !important;
    /* Màu chữ khi hover (tùy chỉnh nếu cần) */
}

.ant-menu-item-selected {
    
    /* Màu nền khi được chọn */
    color: #FFD700 !important;
    /* Màu chữ khi được chọn */
}