body {
    background: radial-gradient(50% 50% at 50% 50%, #873D3D 0%, #282323 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-input {
    width: 400px;

    height: 50px;
    background: linear-gradient(#474545, #373232);
    border-radius: 25px;
    padding-left: 15px;
    border: none;
}

.custom-input .ant-input {
    background: transparent;
    color: white;
    outline: none;
}

.custom-input:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.custom-input:focus-within {
    border: 1px solid #fff;
}

.custom-input .ant-input-prefix {
    color: #fff;
}

:where(.css-dev-only-do-not-override-49qm).ant-input-affix-wrapper>input.ant-input,
:where(.css-dev-only-do-not-override-49qm).ant-input-affix-wrapper>textarea.ant-input {
    color: white;
    font-size: 17px;
}